<div class="button-flex-group">
  <a routerLink="/calculator">
    <mat-card class="box-card bg-image bg-image-calculator" role="link">
      <mat-card-title>Advanced Calculator</mat-card-title>
      <mat-card-subtitle>Perform advanced calculations and forecasting</mat-card-subtitle>
    </mat-card>
  </a>

<!--  <a routerLink="/gold">-->
<!--    <mat-card class="box-card bg-image bg-image-gold" role="link">-->
<!--      <mat-card-title>Gold Conversions</mat-card-title>-->
<!--      <mat-card-subtitle>Convert Gold Rates</mat-card-subtitle>-->
<!--    </mat-card>-->
<!--  </a>-->

  <a routerLink="/metallic-odds">
    <mat-card class="box-card bg-image bg-image-metallic" role="link">
      <mat-card-title>Metallic Odds</mat-card-title>
      <mat-card-subtitle>Check your metallic odds</mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/shiny-odds">
    <mat-card class="box-card bg-image bg-image-shiny" role="link">
      <mat-card-title>Shiny Odds</mat-card-title>
      <mat-card-subtitle>Check your shiny odds</mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/damage">
    <mat-card class="box-card bg-image bg-image-damage" role="link">
      <mat-card-title>Damage Calculator</mat-card-title>
      <mat-card-subtitle>Compute pet damage</mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/rebirth">
    <mat-card class="box-card bg-image bg-image-rebirth" role="link">
      <mat-card-title>Rebirth Simulator</mat-card-title>
      <mat-card-subtitle>Simulate a rebirth today!</mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/exotic-luck">
    <mat-card class="box-card bg-image bg-image-ec" role="link">
      <mat-card-title>Exotic Crystal Luck</mat-card-title>
      <mat-card-subtitle>Check your EC Luck</mat-card-subtitle>
    </mat-card>
  </a>
</div>
